<link href="lib/bootstrap.min.css" rel="stylesheet">
<style>
    .centered {
        position: fixed;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
</style>

<html ng-app="app" ng-csp>
    <body ng-controller="mainCtrl" ng-init="session.refresh()">
        <div class="container" style="padding-top: 20px; padding-bottom: 20px;">
            <div ng-if="!session.loading">
                <div class="text-center">
                    <div>
                        <button class="btn" ng-class="{'btn-success':controlActive, 'btn-primary':!controlActive}" ng-click="session.toggleControl()">{{ controlActive ? "You're controlling this page (click to stop)" : "Remote-Control this page!" }}</button>
                    </div>
                    <div ng-show="controlSite">
                        <span class="text-muted">{{ controlSite }}</span>
                    </div>
                    <br/>

                    <div>
                        <div>
                            <img class="img-responsive" src="" ng-src="{{ session.qr }}">
                        </div>
                        <span class="text-muted"> Session ID: {{ session.session }}</span>
                    </div>
                    <br/>
                    <div>
                        <a href="https://remote-sli.de/?connectionInfo" target="_blank">Connection Info</a>
                    </div>
                </div>
            </div>
            <div ng-if="session.loading">
                <div class="text-center" style="min-width:200px;">
                    <strong>Loading Session...</strong>
                </div>
            </div>
        </div>
    </body>
</html>

<script src="lib/jquery.min.js"></script>
<script src="lib/bootstrap.min.js"></script>
<script src="lib/angular.min.js"></script>
<script src="lib/analytics.js"></script>
<script src="index.js"></script>